{% extends 'base.html' %}


{% block title%} Categories {% endblock %}

{% block content %}
{% if category_posts %}
    <h1>{{category}} </h1>    

    {% for post in category_posts %}

    <li>
        <a href="{% url 'post' post.pk %}">{{post.title}} </a>- <small>{{post.post_date}} {{post.author.first_name}}
            {{post.author.last_name}}</small>
        <br/>
        {{post.content|slice:":50"}}....
    </li>

    {% endfor %}
{% else %}
    Sorry this page is not exist!
{% endif %}

{% endblock %}